<style>
  form {
    background-color: rgb(248, 200, 81) !important;
  }

  .add-match-container {
    max-width: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .exchange-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
  }

  .heading-cont {
    display: flex;
    justify-content: space-between;
  }

  .score-container {
    width: 100%;
    height: 10vh;
    border: 1px solid gray;
    position: relative;
  }

  .score-container-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: box-shadow 0.3s;
    box-shadow: none;
  }

  .score-container input:focus+p {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }

  @media screen and (max-width: 768px) {
    .add-match-container {
      max-width: 100%;
      position: relative;
      top: 0%;
      left: 0%;
      transform: translate(0%, 0%);
    }
  }
</style>

<div class="container add-match-container">
  <div class="row">
    <div class="col-md-12 card p-3">
      <div class="heading-cont">
        <h5>Add Score (<%=data.title%>)</h5>
        <p>
          Current Inning: <span id="inning"><%=data.currentInning%></span>
        </p>
      </div>
      <form class="card p-3 mt-3 was-validated" id="score-form">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="batsmanStrike">Batsman strike:</label>
            <input maxlength="40" type="text" class="form-control" id="batsmanStrike" placeholder="Enter Batsman name on strike">
          </div>
          <div class="form-group col-md-1 exchange-icon">
            <button class="btn btn-primary" id="exchange" title="Change strike">
              <i class="bi bi-arrow-left-right"></i> <!-- Bootstrap exchange icon class -->
            </button>
          </div>
          <div class="form-group col-md-3">
            <label for="batsmanNonStrike">Batsman non-strike:</label>
            <input maxlength="40" type="text" class="form-control" id="batsmanNonStrike" placeholder="Enter Batsman name on non-strike">
          </div>
          <div class="form-group col-md-5">
            <label for="bowler">Bowler:</label>
            <input maxlength="40" type="text" class="form-control" id="bowler" placeholder="Enter Bowler name">
          </div>
          <div class="form-group col-md-3">
            <label for="bowlerType">Bowler Type:</label>
            <br/>
            <div class="btn-group" id="bowlerType" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="bowlerType" value="spinner"> Spinner
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="bowlerType" value="faster"> Faster
              </label>
            </div>
          </div>
          <div class="form-group col-md-12" style="display: flex; align-items:end;">
            <button style="width: 100%;" id="changeInning" class="btn btn-primary">
              Change Inning
            </button>
          </div>
        </div>
        <div id="scoreEvent" class="score-container">
          <input id="scoreInput" type="text" placeholder="Enter your score here" class="score-container-input" />
          <p id="curr-score">
            Please enter your score
          </p>
        </div>
      </form>
    </div>
  </div>
  <div id="toastContainer"></div>
</div>
<script>
  const currentInning = "<%= data?.currentInning %>";
</script>
<script src="/js/showToast.js"></script>

<script src="/js/addScore.js"></script>