<style>
  body {
    margin: 0px;
  }

  .nav {
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .matches-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .match-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    padding: 10px 20px;
    background-color: beige;
  }
</style>
<div>
  <div class="nav">
    <a href="/logout">Logout</a>
  </div>
  <a href="/addmatch"><button class="m-2""> Add Match</button></a>
  <div class=" matches-container">
      <%match?.map((item)=>{%>
      <div class="match-box">
        <div class="match-name">
          <h4><%= item?.teamA%> vs <%=item?.teamB%></h4>
        </div>
        <div class="match-score-btn">
          <button> Score</button>
        </div>
      </div>
      <% }); %>
</div>
</div>