<style>
  body {
    margin: 0px;
  }

  .nav {
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .matches-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .match-box {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    padding: 10px 20px;
  }
</style>
<div class="nav">
  <a href="/logout">Logout</a>
</div>
<div class="matches-container">
  <%match?.map((item)=>{%>
  <div class="match-box">
    <div class="match-name">
      <h4><%= item?.team_a%> vs <%=item?.team_b%></h4>
    </div>
    <div class="match-score-btn">
      <button> Score</button>
    </div>
  </div>
  <% }); %>
</div>